body {
    text-align: center;
    padding-top: 30vh;
    padding-bottom: 50vh;
}

* {
    background: transparent;
    text-align: left;
    scrollbar-width: none;
}

span {
    font-family: 'Roboto';
}

span.span-output,
p {
    display: inline-block;
    width: 80vw;
    margin: 10px;
    font-size: 20px;
}

span.span-output:before {
    content: "\200D";
    display: inline;
}

p {
    margin: 0px;
    padding: 15px;
    border: 1px solid gray;
    font-family: 'Monospace';
}

a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

span.hl {
    margin-top: 30px;
    font-size: 28px;
}

span.hs {
    font-size: 24px;
}

span.tc {
    text-align: center;
}

span.ms {
    font-family: monospace;
}

span.li {
    margin: 5px;
    position: relative;
    left: 30px;
    min-height: 20px;
}

span.li:before {
    content: "\25B8";
    position: absolute;
    left: -20px;
}

span.i1 {
    margin: 0px;
    padding-left: 30px;
}

span.i2 {
    margin: 0px;
    padding-left: 60px;
}

span.i3 {
    margin: 0px;
    padding-left: 90px;
}

span.i4 {
    margin: 0px;
    padding-left: 120px;
}
